---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import MainSection from '../layouts/MainSection.astro';
import Modal from '../components/Modal.astro';

import Placeholder from '../assets/images/placeholder.png';
import Button from '../components/Button.astro';
const hostname = Astro.url.hostname;
---

<Layout title="Getting Credential...">
    <img src={`/brand/${hostname}/logo.png`} />
    <a href="/claim">claim page moved here</a>
</Layout>
