---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import MainSection from '../layouts/MainSection.astro';
import Modal from '../components/Modal.astro';

import Placeholder from '../assets/images/placeholder.png';
import Button from '../components/Button.astro';
---

<Layout title="Getting Credential...">
    TODO: Identify source for custom white labled landing page.
    Docker ENV targeting JSON in an s3 bucket?
    A markdown file and a logo?
    Use the domain name to lookup branding and content in a same-named s3 bucket? If localhost - use DCC?
    <a href="/claim">claim page moved here</a>
</Layout>
